<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEFLMjkGo3GiaNo0ZE92qZFur_2qSazto</string>
	<key>GCM_SENDER_ID</key>
	<string>930508641524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.la8iny</string>
	<key>PROJECT_ID</key>
	<string>la8iny-5d7ec</string>
	<key>STORAGE_BUCKET</key>
	<string>la8iny-5d7ec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930508641524:ios:6f93739b83ca07b0b1baa1</string>
</dict>
</plist>